@import "values";

* {
  font-family: "Geologica", sans-serif;
  box-sizing: border-box;
  color: black;
}

h1 {
  color: $orangeText800;
  font-size: 3.063rem;
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  color: $primaryBlack;
  //font-size: 3.063rem;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 700;
  //line-height: 4.313rem;
  line-height: 3.2vw;
}

p {
  color: $primaryParagraph;
  //font-size: 2.438rem;
  font-size: 2.1vw;
  font-weight: 400;
  line-height: normal;
}


.yellow-paragraph-text {
  color: $primaryYellow;
}

.orange-text {
  color: $orangeText400;
  font-weight: 600;
}

.yellow-text {
  color: $primaryYellow;
  font-weight: 800;
}


.yellow-span-text {
  color: $primaryYellow;
  font-weight: 800;
}

.primary-black-text {
  color: $primaryBlack;
}

@media (max-width: 768px) {
  h2 {
    font-size: 5.9vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
  }

  p {
    font-size: 4.5vw;
  }
}
