$orangeText800: #441706;
$orangeText700: #7E3310;
$orangeText600: #9D3D0F;
//$orangeText500: #C64C08;
$orangeText400: #EF6707;
//$orangeText300: #FE8211;
//$orangeText200: #FFC471;

$mainBackground: #FFFFFF;
$primaryYellow: #FF9F38;
$primaryBlack: #26231F;
$primaryWhite: #FFFFFF;

$errorRed: #FF3838;
//$successGreen: #4EDB42;

